@use "./variables" as var;
@use "./mixins" as mix;

.btn {
  &-neutral {
    @include mix.btn;
    background-color: var.$clr-neutral-900;
  }

  &-gradient-300 {
    @include mix.btn;
    background: var.$clr-gradient-300;
  }

  &-gradient-700 {
    @include mix.btn;
    background: var.$clr-gradient-700;
  }
}

.header,
.footer {
  &__container {
    @include mix.container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: var.$clr-neutral-900;
}

.hero {
  display: flex;

  &__image-container {
    width: 100%;
  }
}
