@use "./variables.scss" as var;
@use "./mixins" as mix;

//create text-color and background-color utilites
@each $color-name, $color in neutral-100 var.$clr-neutral-100,
  neutral-900 var.$clr-neutral-900, neutral-500 var.$clr-neutral-500,
  accent-700 var.$clr-accent-700, accent-500 var.$clr-accent-500,
  accent-300 var.$clr-accent-300
{
  .bg-#{$color-name} {
    background-color: $color;
  }

  .text-#{$color-name} {
    color: $color;
  }
}

@each $gradient-name, $colors in gradient-300 var.$clr-gradient-300,
  gradient-700 var.$clr-gradient-700
{
  .bg-#{$gradient-name} {
    background: $colors;
  }
}

.ff-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.title-xl {
  @include mix.title-xl;
}

.title-l {
  @include mix.title-l;
}

.title-m {
  @include mix.title-m;
}

.title-s {
  @include mix.title-s;
}

.body-m {
  @include mix.body-m;
}

.body-s {
  @include mix.body-s;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.container {
  @include mix.container;
}
