//Colors
$clr-neutral-100: #ffffff;
$clr-neutral-200: #f0f1ff;
$clr-neutral-900: #13183f;
$clr-neutral-500: #83869a;
$clr-accent-700: #666ca3;
$clr-accent-500: #f74780;
$clr-accent-300: #ffa7c3;

$clr-gradient-300: linear-gradient(0deg, #f02aa6, #ff6f48);
$clr-gradient-700: linear-gradient(180deg, #4861ff, #f02aa6);
