*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
  font: inherit;
}

img {
  width: 100%;
}

.bg-neutral-100 {
  background-color: #ffffff;
}

.text-neutral-100 {
  color: #ffffff;
}

.bg-neutral-900 {
  background-color: #13183f;
}

.text-neutral-900 {
  color: #13183f;
}

.bg-neutral-500 {
  background-color: #83869a;
}

.text-neutral-500 {
  color: #83869a;
}

.bg-accent-700 {
  background-color: #666ca3;
}

.text-accent-700 {
  color: #666ca3;
}

.bg-accent-500 {
  background-color: #f74780;
}

.text-accent-500 {
  color: #f74780;
}

.bg-accent-300 {
  background-color: #ffa7c3;
}

.text-accent-300 {
  color: #ffa7c3;
}

.bg-gradient-300 {
  background: linear-gradient(0deg, #f02aa6, #ff6f48);
}

.bg-gradient-700 {
  background: linear-gradient(180deg, #4861ff, #f02aa6);
}

.ff-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: min(100% - 2rem, 689px);
  margin-inline: auto;
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
}

/***********************************
PAGE SECTIONS
***********************************/
.header__container,
.footer__container {
  max-width: min(100% - 2rem, 689px);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .header__container,
.footer__container {
    max-width: 1110px;
  }
}

.header {
  padding-block: 1rem;
}
.header__logo-container {
  width: 5.625rem;
}
@media screen and (min-width: 1440px) {
  .header__logo-container {
    width: 7.125rem;
  }
}

.footer {
  background-color: #13183f;
  padding-block: 2.25rem;
  padding-inline: 1rem;
}
.footer__logo-container {
  width: 5.625rem;
}
@media screen and (min-width: 1440px) {
  .footer__logo-container {
    width: 7.125rem;
  }
}

.hero {
  display: flex;
  padding-top: 1.5rem;
}
.hero__image-container {
  width: 100%;
}
.hero__paragraph {
  font-size: 1rem;
  line-height: 1.75;
  margin-block-start: 1.625em;
  margin-block-end: 1.5em;
}
@media screen and (min-width: 1440px) {
  .hero__paragraph {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
.hero__title-l {
  font-weight: 800;
  color: #13183f;
  font-size: 2.5rem;
  line-height: 1.275;
}
@media screen and (min-width: 1440px) {
  .hero__title-l {
    font-weight: 900;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title-l {
    font-size: 3.5rem;
    line-height: 1.25;
  }
}

.courses {
  background: linear-gradient(180deg, #ffffff, #f0f1ff);
}
.courses__container {
  max-width: min(100% - 2rem, 689px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-block-end: 5rem;
}
@media screen and (min-width: 1440px) {
  .courses__container {
    max-width: 1110px;
  }
}
.courses__title-card, .courses__card:not(:last-child) {
  margin-bottom: 2.5rem;
}
.courses__title-card {
  background: linear-gradient(0deg, #f02aa6, #ff6f48);
  color: #ffffff;
  padding-block-start: 1em;
  padding-inline: 1.16em;
  padding-block-end: 1.33em;
  border-radius: 0.416em;
}
.courses__card {
  background-color: #ffffff;
  padding-inline: 1.75em;
  padding-block-start: 3.5em;
  padding-block-end: 2em;
  border-radius: 0.416em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .courses__card {
    padding-inline: 2em;
  }
}
@media screen and (min-width: 1400px) {
  .courses__card {
    padding-block-end: 2.2em;
    padding-block-start: 3.5em;
  }
}
.courses__title-s {
  font-weight: 800;
  color: #13183f;
  font-size: 1.25rem;
  line-height: 1.26;
}
@media screen and (min-width: 1440px) {
  .courses__title-s {
    font-weight: 900;
  }
}
@media screen and (min-width: 1440px) {
  .courses__title-s {
    font-size: 1.5rem;
  }
}
.courses__title-m {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.33;
}
@media screen and (min-width: 1440px) {
  .courses__title-m {
    font-weight: 900;
  }
}
@media screen and (min-width: 1440px) {
  .courses__title-m {
    font-size: 2rem;
    line-height: 1.25;
  }
}
.courses__link {
  color: #f74780;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 700;
}
.courses__link:hover {
  color: #ffa7c3;
}
.courses__icon-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
}
.courses__paragraph {
  font-size: 1rem;
  line-height: 1.75;
  margin-block-start: 1em;
  margin-block-end: 1.5em;
}
@media screen and (min-width: 1440px) {
  .courses__paragraph {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

/*******************************************
Smaller On-page Components
********************************************/
.btn-neutral {
  appearance: none;
  border: 0;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  border-radius: 1000em;
  color: #ffffff;
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  font-size: 1rem;
  padding-inline: 1.5em;
  padding-block: 0.625em;
  background-color: #13183f;
}
.btn-neutral::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.btn-neutral:hover {
  cursor: pointer;
  transform: translateY(-3%);
}
.btn-neutral:hover::before {
  opacity: 1;
}
.btn-neutral:active {
  transform: translateY(0);
  transition: none;
}
@media screen and (min-width: 1440px) {
  .btn-neutral {
    font-size: 1rem;
    padding-inline: 2.25em;
    padding-block: 1em;
  }
}
.btn-gradient-300 {
  appearance: none;
  border: 0;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  border-radius: 1000em;
  color: #ffffff;
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  font-size: 1rem;
  padding-inline: 2.25em;
  padding-block: 1em;
  background: linear-gradient(0deg, #f02aa6, #ff6f48);
}
.btn-gradient-300::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.btn-gradient-300:hover {
  cursor: pointer;
  transform: translateY(-3%);
}
.btn-gradient-300:hover::before {
  opacity: 1;
}
.btn-gradient-300:active {
  transform: translateY(0);
  transition: none;
}
@media screen and (min-width: 1440px) {
  .btn-gradient-300 {
    font-size: 1.125rem;
    padding-block: 1.25em;
    padding-inline: 2em;
  }
}
.btn-gradient-700 {
  appearance: none;
  border: 0;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  border-radius: 1000em;
  color: #ffffff;
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
  font-size: 1rem;
  padding-inline: 1.5em;
  padding-block: 0.625em;
  background: linear-gradient(180deg, #4861ff, #f02aa6);
}
.btn-gradient-700::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.btn-gradient-700:hover {
  cursor: pointer;
  transform: translateY(-3%);
}
.btn-gradient-700:hover::before {
  opacity: 1;
}
.btn-gradient-700:active {
  transform: translateY(0);
  transition: none;
}
@media screen and (min-width: 1440px) {
  .btn-gradient-700 {
    font-size: 1rem;
    padding-inline: 2.25em;
    padding-block: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
